$mainFontFamily: 'Montserrat Variable', sans-serif;
$defaultBorderStyle: 1px dotted grey;
$defaultXSpaceVal: 1rem;
$defaultYSpaceVal: 1rem;

.header {
  font-family: $mainFontFamily;

  &__inner {
    // border: $defaultBorderStyle;
    padding: $defaultYSpaceVal;
  }

  &__ttl::before {
    content: '';
    @function image() {
      @return random(5);
    }
    background-image: url('../assets/' + image() + '.svg');
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: text-bottom;
    transform: scale(-1, 1);
  }

  &__ttl::after {
    content: '';
    @function image() {
      @return random(5);
    }
    background-image: url('../assets/' + image() + '.svg');
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: text-bottom;
  }
}
